@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    background-color: whitesmoke;
    direction: rtl;
}

nav.navbar {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    border-bottom: 1px solid transparent;
    z-index: 20;
    text-align: right;
}

.navbar-brand img {
    max-width: 150px;
    max-height: 150px;
}

.navbar-nav .nav-item a {
    color: whitesmoke;
    padding: 7px 10px;
    margin-left: 5px;
}

.navbar-nav li .nav-link.active {
    color: #fff;
    background-color: #4d52b6;
    border-radius: 5px;
    padding: 7px 10px;
    margin-left: 5px;
}

.navbar-nav .nav-item a:hover {
    color: #fff;
    background-color: #4d52b6;
    border-radius: 5px;
}

nav.navbar.noTransparrent {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

nav.navbar.noTransparrent button.navbar-toggler {
    margin: 30px auto;
}

nav.navbar.noTransparrent button.navbar-toggler span {
    color: #16aeca;
}

nav.navbar.noTransparrent .navbar-brand img {
    width: 80%;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: #000;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #fff;
    background-color: #4D52B6;
}

header.home {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

header.home .overlay {
    background-color: #4d52b6e3;
    z-index: 2;
    position: relative;
    padding-top: 125px;
    padding-bottom: 200px;
}

header.home .overlay .text h1 {
    color: whitesmoke;
    margin: 50px 0 15px;
    font-weight: 700;
}

header.home .overlay .text p {
    color: whitesmoke;
    font-weight: 600;
    margin: 0 0 70px;
}

header.home .overlay .text .download-button p {
    color: black;
    font-weight: normal;
    display: inline-block;
}

header.home .overlay .text p span {
    font-weight: 700;
}

header.home .overlay .text .download-button {
    background-color: whitesmoke;
    color: black;
    margin-right: 5px;
    margin-left: 5px;
}

header.home .overlay .download-button img {
    width: 40px;
}

header.home .overlay .icon {
    font-size: 45px;
}

header.home .overlay .apple {
    padding-bottom: 9px;
    padding-top: 7px;
}

section.books {
    background-color: #fff;
    padding: 90px 0;
}

section.books .text-heading h2 {
    color: rgb(44, 44, 44);
    font-size: 26px;
    margin-bottom: 25px;
    line-height: 40px;
}

section.books .text-heading h2::after {
    content: '';
    height: 210px;
    /* //You can change this if you want smaller/bigger borders */
    width: 1px;
    position: absolute;
    right: 568px;
    top: -60px;
    /* // If you want to set a smaller height and center it, change this value */
    background-color: #4348ac;
    /* // The color of your border */
    transform: rotate(90deg);
}

section.books .text-book h2 {
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 40px;
}

section.books .text-book1 h2 {
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 36px;
}

section.books .card {
    max-width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.books .card img {
    height: 350px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.contact {
    border-top: 1px solid #dddddd;
    background-color: #ededf9;
    padding: 90px 0;
}

section.contact .text-heading h2 {
    color: rgb(44, 44, 44);
    font-size: 26px;
    margin-bottom: 35px;
    line-height: 40px;
}

section.contact .text-heading h4 {
    color: rgb(44, 44, 44);
    font-size: 26px;
    margin-bottom: 25px;
    line-height: 40px;
}

section.contact p.call-us {
    font-size: 20px;
    line-height: 45px;
}

section.contact p .icon {
    margin-left: 10px;
    font-size: 25px;
}



footer .newsletter h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 45px;
    color: whitesmoke;
}

footer .newsletter .btn-email {
    margin: 20px 0;
    color: #000;
    padding: 13px 20px;
    background-color: #6165b9;
    background: #fff;
}

footer .newsletter .send {
    margin: 10px 0px 10px 2px;
    color: whitesmoke;
    padding: 13px 10px;
    background-color: #6165b9;
}

footer .faq h4 {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 25px;
}

footer .faq .line::before {
    content: "";
    position: absolute;
    right: 15px;
    top: 60px;
    width: 50px;
    height: 2px;
    background-color: #a3a3a3;
}

footer .newsletter h3.line::before {
    content: "";
    position: absolute;
    right: 325px;
    top: 60px;
    width: 50px;
    height: 2px;
    background-color: #a3a3a3;
}

footer .faq p {
    margin: 30px 0;
}

footer .copyright {
    background-color: #1a1a1a;
}

footer .copyright p {
    font-size: 18px;
    line-height: 78px;
    color: #919191;
    margin-bottom: 0;
}

footer .copyright ul {
    list-style: none;
    margin-top: 10px;
}

footer .copyright ul li {
    display: inline;
    font-size: 35px;
}

footer .copyright ul li a {
    text-decoration: none;
    color: #4D52B6;
}

footer .copyright ul li a:hover {
    color: #6d72c5;
}

/* -------------------------------------------- UX Page ----------------------------------------------- */

header.home1 {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

header.home1 .overlay {
    background-color: #803f1adc;
    z-index: 2;
    position: relative;
    padding-top: 125px;
    padding-bottom: 200px;
}

header.home1 .text h2{
    color: #fff;
    font-weight: 600;
    margin: 35px;
    font-size: 26px;
    line-height: 40px;
}

header.home1 .text h4{
    color: #fff;
    font-size: 25px;
}

header.home1 .text button a {
    color: whitesmoke;
    text-decoration: none;
}

header.home1 .text button {
    margin: 40px 0;
    padding: 10px 20px;
    border-radius: 50px;
    border: 0;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.466);
    background-color: transparent;
}

header.home1 .text button:hover,
header.home1 .text button:active:hover,
header.home1 .text button:focus:hover {
    background-color: white;
    border: 1px solid #803f1adc;
    color: black;
    font-weight: bold;
}

header.home1 .text button a:hover,
header.home1 .text button a:active:hover,
header.home1 .text button a:focus:hover {
    color: black;
    font-weight: bold;
}

.custom-nav .nav-item a:hover {
    color: #803f1adc !important;
    background-color: #fff !important;
    border-radius: 5px;
}

.custom-nav li .nav-link.active {
    color: #803f1adc;
    background-color: #fff;
    border-radius: 5px;
    padding: 7px 10px;
    margin-left: 5px;
}

section.book {
    padding: 90px 0;
}
.custom-slide .carousel-inner .carousel-item img{
    max-width: 400px;
    max-height: 400px;
}

.custom-slide {
    width: 400px;
    border: 1px solid #e6e6e6;
}

.custom-slide a {
    color: rgb(19, 19, 19);
    font-size: 20px;
    margin: 0px -15px;
}

.custom-slide a:hover,
.custom-slide a:active,
.custom-slide a:focus,
.custom-slide a:active:hover,
.custom-slide a:active:focus {
    color: black;
}

section.book .text h4 {
    color: #1a1a1a;
    font-size: 24px;
    line-height: 42px;
}

section.book .text p {
    color: #2b2b2b;
    font-size: 17px;
    line-height: 30px;
    margin: 20px 0 35px;
}

section.book .text .custom-btn-book {
    margin-left: 15px;
    background-color: #803f1a;
    color: white;
    border: 0;
}

section.book .text .custom-btn-book a {
    color: white;
}

section.book .text .custom-btn-book:hover,
section.book .text .custom-btn-book:active,
section.book .text .custom-btn-book:focus,
section.book .text .custom-btn-book:active:hover,
section.book .text .custom-btn-book:active:focus {
    color: #000;
    background-color: #fff;
    border: 1px solid #eded;
}

section.book .text .custom-btn-book a:hover,
section.book .text .custom-btn-book a:active,
section.book .text .custom-btn-book a:focus,
section.book .text .custom-btn-book a:active:hover,
section.book .text .custom-btn-book a:active:focus {
    color: #000;
}

footer.ux .copyright ul li a.ux:hover {
    color: #854c2c !important;
}

footer.ux .newsletter button.ux {
    background-color: #854c2c !important;
}

/* ------------------------------------------ Online Work Page ----------------------------------------- */

header.home2 {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

header.home2 .overlay {
    background-color: #2da3e2dc;
    z-index: 2;
    position: relative;
    padding-top: 125px;
    padding-bottom: 200px;
}

header.home2 .text h2{
    color: #fff;
    font-weight: 600;
    margin: 35px;
    font-size: 26px;
    line-height: 40px;
}

header.home2 .text h4{
    color: #fff;
    font-size: 25px;
}

header.home2 .text button a {
    color: whitesmoke;
    text-decoration: none;
}

header.home2 .text button {
    margin: 40px 0;
    padding: 10px 20px;
    border-radius: 50px;
    border: 0;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.466);
    background-color: transparent;
}

header.home2 .text button:hover,
header.home2 .text button:active:hover,
header.home2 .text button:focus:hover {
    background-color: white;
    border: 1px solid #2da3e2d3;
    color: black;
    font-weight: bold;
}

header.home2 .text button a:hover,
header.home2 .text button a:active:hover,
header.home2 .text button a:focus:hover {
    color: black;
    font-weight: bold;
}

section.book .text .custom-btn-book1 {
    margin-left: 15px;
    background-color: #2da3e2;
    color: white;
    border: 0;
}

section.book .text .custom-btn-book1 a {
    color: white;
}

section.book .text .custom-btn-book1:hover,
section.book .text .custom-btn-book1:active,
section.book .text .custom-btn-book1:focus,
section.book .text .custom-btn-book1:active:hover,
section.book .text .custom-btn-book1:active:focus {
    color: #000;
    background-color: #fff;
    border: 1px solid #eded;
}

section.book .text .custom-btn-book1 a:hover,
section.book .text .custom-btn-book1 a:active,
section.book .text .custom-btn-book1 a:focus,
section.book .text .custom-btn-book1 a:active:hover,
section.book .text .custom-btn-book1 a:active:focus {
    color: #000;
}



footer.on .newsletter button.on {
    background-color: #44abe2 !important;
}



footer.on .copyright ul li a.on:hover {
    color: #458aaf !important;
}