@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    background-color: whitesmoke;
    direction: rtl;
}

nav.navbar {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    border-bottom: 1px solid transparent;
    z-index: 20;
    text-align: right;
}

.navbar-brand img {
    max-width: 150px;
    max-height: 150px;
}

.navbar-nav .nav-item a {
    color: whitesmoke;
    padding: 7px 10px;
    margin-left: 5px;
}

.navbar-nav li .nav-link.active {
    color: #fff;
    background-color: #4d52b6;
    border-radius: 5px;
    padding: 7px 10px;
    margin-left: 5px;
}

.navbar-nav .nav-item a:hover {
    color: #fff;
    background-color: #4d52b6;
    border-radius: 5px;
}

nav.navbar.noTransparrent {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

nav.navbar.noTransparrent button.navbar-toggler {
    margin: 30px auto;
}

nav.navbar.noTransparrent button.navbar-toggler span {
    color: #16aeca;
}

nav.navbar.noTransparrent .navbar-brand img {
    width: 80%;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: #000;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover, nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #fff;
    background-color: #4D52B6;
}

header.home {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: -3;
    min-height: 100vh;
}

header.home .overlay {
    background-color: #4d52b6e3;
    z-index: -2;
    position: relative;
    padding-top: 125px;
    padding-bottom: 200px;
}

header.home .overlay .text h1 {
    color: whitesmoke;
    margin: 50px 0 15px;
    font-weight: 700;
}

header.home .overlay .text p {
    color: whitesmoke;
    font-weight: 600;
    margin: 0 0 70px;
}

header.home .overlay .text .download-button p {
    color: black;
    font-weight: normal;
    display: inline-block;
}

header.home .overlay .text p span {
    font-weight: 700;
}

header.home .overlay .text .download-button {
    background-color: whitesmoke;
    color: black;
    margin-right: 5px;
    margin-left: 5px;
}

header.home .overlay .download-button img {
    width: 40px;
}

header.home .overlay .icon {
    font-size: 45px;
}

header.home .overlay .apple {
    padding-bottom: 9px;
    padding-top: 7px;
}

section.books {
    background-color: #fff;
    padding: 90px 0;
}

section.books .text-heading h2 {
    color: rgb(44, 44, 44);
    font-size: 26px;
    margin-bottom: 25px;
    line-height: 40px;
}

section.books .text-heading h2::after {
    content: '';
    height: 210px;
    /* //You can change this if you want smaller/bigger borders */
    width: 1px;
    position: absolute;
    right: 568px;
    top: -60px;
    /* // If you want to set a smaller height and center it, change this value */
    background-color: #4348ac;
    /* // The color of your border */
    transform: rotate(90deg);
}

section.books .text-book h2 {
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 40px;
}

section.books .text-book1 h2 {
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 36px;
}

section.books .card {
    max-width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.books .card img {
    height: 350px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.books .card a {
    background-color: #4348ac;
    border-color: #4348ac;
}

section.contact {
    border-top: 1px solid #dddddd;
    background-color: #ededf9;
    padding: 90px 0;
}

section.contact .text-heading h2 {
    color: rgb(44, 44, 44);
    font-size: 26px;
    margin-bottom: 35px;
    line-height: 40px;
}

section.contact .text-heading h4 {
    color: rgb(44, 44, 44);
    font-size: 26px;
    margin-bottom: 25px;
    line-height: 40px;
}

section.contact p.call-us {
    font-size: 20px;
    line-height: 45px;
}

section.contact p .icon {
    margin-left: 10px;
    font-size: 25px;
}

footer {
    background-color: #4D52B6;
    color: whitesmoke;
}

footer .newsletter h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 45px;
    color: whitesmoke;
}

footer .newsletter .btn-email {
    margin: 20px 0;
    color: whitesmoke;
    padding: 13px 20px;
    background-color: #6165b9;
    background: #fff;
}

footer .newsletter .send {
    margin: 10px 0px 10px 2px;
    color: whitesmoke;
    padding: 13px 10px;
    background-color: #6165b9;
}

footer .faq h4 {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 25px;
}

footer .faq .line::before {
    content: "";
    position: absolute;
    right: 15px;
    top: 60px;
    width: 50px;
    height: 2px;
    background-color: #a3a3a3;
}

footer .newsletter h3.line::before {
    content: "";
    position: absolute;
    right: 325px;
    top: 60px;
    width: 50px;
    height: 2px;
    background-color: #a3a3a3;
}

footer .faq p {
    margin: 30px 0;
}

footer .copyright {
    background-color: #1a1a1a;
} 

footer .copyright p {
    font-size: 18px;
    line-height: 78px;
    color: #919191;
    margin-bottom: 0;
}

footer .copyright ul {
    list-style: none;
    margin-top: 10px;
}
footer .copyright ul li {
    display: inline;
    font-size: 35px;
}

footer .copyright ul li a {
    text-decoration: none;
    color: #4D52B6;
}

footer .copyright ul li a:hover {
    color: #6d72c5;
}