$colors-for-first-page: #4348ac;
$color-for-ux-page: #803f1a;
$color-for-on-page: #2da3e2;

footer {
    background-color: $colors-for-first-page;
    color: whitesmoke;
}

section.books .card a {
    background-color: $colors-for-first-page;
    border-color: $colors-for-first-page;
}

footer.ux {
    background-color: $color-for-ux-page !important;
}

footer.on {
    background-color: $color-for-on-page !important;
}

footer.ux .copyright ul li a.ux {
    color: $color-for-ux-page !important;
}
footer.on .copyright ul li a.on {
    color: $color-for-on-page !important;
}
